<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="static/fonts/icomoon/style.css">
    <link rel="stylesheet" href="static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
	  <link rel="stylesheet" type="static/text/css" href="css/nunito-font.css">
    <link rel="stylesheet" href="static/css/style.css"/>

    <title>Zoho Django</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      

    
</head>
<body style="background-color: black;">




   
      <div class="container " style="background-color: rgb(80, 75, 75); margin-top: 30px; margin-left: 250px; padding-top: 20px;" > 
          <div class="row d-flex justify-content-left align-items-center h-100" >
            <div class="col-lg-8 col-xl-6">
              
                 
                  <form method="post" action="{% url 'notedetails' %}">
                    {% csrf_token %}
      
                   

      
                    <div class="row">
                      <div class="col-md-6 mb-4">
                        <div class="form-group">
                          <label for="name" style="color: aliceblue;"> customer name</label>
            
                          <select id="customer-name" style="background-color:rgb(80, 75, 75) ;color: aliceblue;" type="text"  class="form-control">
                            <option></option>
                            <option> customer1</option>
                            <option> customer2</option>
                          </select>
                        </div>
                       
                          
                        </div>
      
                      
                      <div class="col-md-6 mb-4">
                        <div class="form-group">
                          <label for="customer-email" style="color: aliceblue;">Email</label>
                          <input id="customer-email" style="background-color:rgb(80, 75, 75) ;color: aliceblue;" type="text" class="form-control" >
                          
                        </div>
                        
      
                      </div>
                    </div>
      
                    <div class="row">
                      <div class="col-md-6 mb-4">
                        <div class="form-group">
                          <label for="customer-address" style="color: aliceblue;"> Address</label>
            
                          <textarea id="customer-address" style="background-color:rgb(80, 75, 75) ;color: aliceblue;" type="text"  class="form-control">
                          </textarea>
                        </div>
                       
                          
                        </div>
      
                      
                      <div class="col-md-6 mb-4">
                        <div class="form-group">
                          <label for="date" style="color: aliceblue;">Credit note date</label>
                          <input type="date" style="background-color:rgb(80, 75, 75) ;color: aliceblue;"  class="form-control" placeholder="date" >
                          
                        </div>
                        
      
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-6 mb-4">
                        <div class="form-group">
                          <label for="state" style="color: aliceblue;">place of supply</label>
            
                          <select id="state" style="background-color:rgb(80, 75, 75) ;color: aliceblue;" type="text"  class="form-control" onchange="stateChange()">
                            <option value="">Select a state</option>
                            <option value="Kerala">Kerala</option>
                            <option> Tamil Nadu</option>
                          <option> Andhra pradesh</option>
                          <option> karnataka</option>
                          <option> Maharashtra</option>
                          <option> Madhya Pradesh</option>
                          <option> orissa</option>
                          
                          <option> Himachal Pradesh</option>
                          <option> Delhi</option>
                          <option value="Haryana">Haryana</option>
                            
                          </select>
                          
                        </div>
                       
                          
                        </div>
      
                      
                      <div class="col-md-6 mb-4">
                        <div class="form-group">
                          <label type="number" style="color: aliceblue;">Invoice number</label>
                          <input style="background-color:rgb(80, 75, 75) ;color: aliceblue;" type="text" class="form-control" name="invoice">
                          
                        </div>
                        
      
                      </div>
                    </div>
          
                    
                  
                  
                  
                  <!-- </form> -->
      
            </div>   
          </div>
        </div>
        





     <h2 style="margin-left: 50px;"> Item Details</h2>

  <div class="row" >
  <div class="col" >
    <label class="form-control" style="background-color: rgb(80, 75, 75);color: aliceblue;"> Id</label>
  </div>
  <div class="col" >
    <label id="item-name" class="form-control" style="background-color: rgb(80, 75, 75);color: aliceblue;"> Item</label>
  </div>
  <div class="col">
    <label class="form-control" style="background-color: rgb(80, 75, 75);color: aliceblue;"> HSN</label>
  </div>
  <div class="col">
    <label for="quantity" class="form-control" style="background-color: rgb(80, 75, 75);color: aliceblue;"> Quantity</label>
  </div>
  <div class="col">
    <label for="price" class="form-control" style="background-color: rgb(80, 75, 75);color: aliceblue;"> Price</label>
  </div>
  <div class="col" >
   
    <label for="gst_percentage" class="form-control" style="background-color: rgb(80, 75, 75);color: aliceblue;"> Tax(%)</label> 
  
 
  </div>
  <div class="col">
    <label for="total" class="form-control" style="background-color: rgb(80, 75, 75);color: aliceblue;"> Total</label>
  </div>
</div>
<div class="row">
  <div class="col">
    <Input type="number" class="form-control" style="background-color: rgb(80, 75, 75);color: aliceblue;"> 
  </div>
  <div class="col">
    <select id="item-name" type="text" class="form-control" style="background-color: rgb(80, 75, 75);color: aliceblue;"> 
      <option> Nail polish</option>
      <option> powder</option>
    </select>
  </div>
  <div class="col">
    <Input type="number" class="form-control" style="background-color: rgb(80, 75, 75);color: aliceblue;"> 
  </div>
  <div class="col">
    <Input id="quantity" type="number" class="form-control" style="background-color: rgb(80, 75, 75);color: aliceblue;" > 
  </div>
  <div class="col">
    <Input id="price" type="number" class="form-control" style="background-color: rgb(80, 75, 75);color: aliceblue;"> 
  </div>
  <!-- <div id="gst_field" class="col" >  -->
    <div class="col" id="form1" style="display: none;" >
      <!-- <label for="gst_percentage">Select GST percentage:</label> -->
      <select class="form-control" id="gst_percentage" onchange="calculateGst()" style="background-color: rgb(80, 75, 75);color: aliceblue;" >
        <option value="5">GST5[5%]</option>
                  <option value="12">GST12[12%]</option>
                  <option value="18">GST18[18%]</option>
                  <option value="28">GST28[28%]</option>
                  <option value="0">GST0[0%]</option>
      </select>
    
      <br>
      <section style="background-color: rgb(53, 63, 63);color: aliceblue;">
      <label for="subtotal">Subtotal:</label>
      <input class="form-control" type="number" id="subtotal" name="subtotal" onchange="calculateGst()">
      <br>
      <label for="cgst">CGST:</label>
      <input class="form-control" type="number" id="cgst" name="cgst">
      <br>
      <label for="sgst">SGST:</label>
      <input class="form-control" type="number" id="sgst" name="sgst">
      <br>
      <label for="tax_amount">Tax amount:</label>
      <input class="form-control" type="number" id="tax_amount" name="tax_amount">
      <br>
      <label for="grand_total">Grand Total:</label>
      <input class="form-control" type="number" id="grand_total" name="grand_total">
    </section>
    </div>
   
    
    <!-- HTML code for the second form -->
    <div class="col" id="form2" style="display: none;">
      <!-- <label for="igst_percentage">Select IGST percentage:</label> -->
      <select class="form-control" id="igst_percentage" onchange="calculateIGst()" style="background-color: rgb(80, 75, 75);color: aliceblue;" >
        <option value="5">IGST5[5%]</option>
        <option value="12">IGST12[12%]</option>
        <option value="18">IGST18[18%]]</option>
        <option value="28">IGST28[28%]</option>
      </select>
    
      <br>
      <!-- <section style="margin-left: 900px;background-color: rgb(80, 75, 75);color: aliceblue;padding-left: 5px;text-align: center;padding-top: 15px;padding-bottom: 15px; margin-top: 30px;"> -->
        <section style="background-color: rgb(53, 63, 63);color: aliceblue;"> 
      <label for="subtotal2" class="col-sm-4 col-form-label">Subtotal:</label>
      
      <input class="form-control" type="number" id="subtotal2" name="subtotal2" onchange="calculateIGst()">
   
       
        
      <label for="igst" class="col-sm-4 col-form-label">IGST:</label>

      <input class="form-control" type="number" id="igst" name="igst">
      
   
      <label for="tax_amount2" class="col-sm-4 col-form-label">Total tax:</label>
      
      <input class="form-control" type="number" id="tax_amount2" name="tax_amount2">
   
      <label for="grandtotal2" class="col-sm-4 col-form-label">Grand Total:</label>
      
      <input class="form-control" type="number" id="grandtotal2" name="grandtotal2">
        </section>
    </div>
 
     
    
 

  <div class="col">
    <Input id="total" type="number" class="form-control" style="background-color: rgb(80, 75, 75);color: aliceblue;"> 
  
  
  </div>
</div>
<button type="submit" style="border-radius: 5rem; margin-left: 1200px;background-color: rgb(68, 68, 190);margin-top: 30px;color: aliceblue;"> Submit form </button>




<!-- JavaScript code to show/hide forms based on state selection -->

<script>
  function stateChange() {
    var state = document.getElementById("state").value;
    if (state == "Kerala") {
      document.getElementById("form1").style.display = "block";
      document.getElementById("form2").style.display = "none";
    } else if (state == "Haryana") {
      document.getElementById("form1").style.display = "none";
      document.getElementById("form2").style.display = "block";
    } else {
      document.getElementById("form1").style.display = "none";
      document.getElementById("form2").style.display = "none";
    }
  }
  </script>
  <script>
    function calculateGst() {
      // Get the selected GST percentage and the subtotal entered by the user
      const gstPercentage = parseFloat(document.getElementById('gst_percentage').value);
      const subtotal = parseFloat(document.getElementById('subtotal').value);
    
      // Calculate the CGST and SGST values
      const cgst = (gstPercentage / 2) * subtotal / 100;
      const sgst = cgst;
    
      // Calculate the tax amount and grand total
      const taxAmount = gstPercentage * subtotal / 100;
      const grandTotal = subtotal + taxAmount;
    
      // Update the CGST, SGST, tax amount, and grand total fields with the calculated values
      document.getElementById('cgst').value = cgst.toFixed(2);
      document.getElementById('sgst').value = sgst.toFixed(2);
      document.getElementById('tax_amount').value = taxAmount.toFixed(2);
      document.getElementById('grand_total').value = grandTotal.toFixed(2);
    }
  </script>
  
  <script>
    function calculateIGst() {
      // Get the selected GST percentage and the subtotal entered by the user
      const igstPercentage = parseFloat(document.getElementById('igst_percentage').value);
      const subtotal2 = parseFloat(document.getElementById('subtotal2').value);
    
      // Calculate the CGST and SGST values
      const igst = (igstPercentage) * subtotal2 / 100;
      
    
      // Calculate the tax amount and grand total
      const taxAmount = (igstPercentage) * subtotal2 / 100;
      const grandTotal = subtotal2 + taxAmount;
    
      // Update the CGST, SGST, tax amount, and grand total fields with the calculated values
      document.getElementById('igst').value = igst.toFixed(2);
     
      document.getElementById('tax_amount2').value = taxAmount.toFixed(2);
      document.getElementById('grandtotal2').value = grandTotal.toFixed(2);
    }
  </script>


 




      </form>



<script>
  // Get the select element for the customer name
  const customerSelect = document.getElementById('customer-name');

  // Listen for a change event on the select element
  customerSelect.addEventListener('change', () => {
    // Get the selected customer's ID
    const selectedCustomerId = customerSelect.value;

    // Make a GET request to retrieve the customer's data
    fetch(`/api/customers/${selectedCustomerId}/`)
      .then(response => response.json())
      .then(data => {
        // Set the address and email fields to the retrieved data
        document.getElementById('customer-address').value = data.address;
        document.getElementById('customer-email').value = data.email;
      });
  });

  // Get the select element for the item name
  const itemSelect = document.getElementById('item-name');

  // Listen for a change event on the select element
  itemSelect.addEventListener('change', () => {
    // Get the selected item's ID
    const selectedItemName = itemSelect.value;

    // Make a GET request to retrieve the item's price
    fetch(`/api/items/${selectedItemName}/`)
      .then(response => response.json())
      .then(data => {
        // Set the price field to the retrieved data
        document.getElementById('item-price').value = data.price;
      });
  });
</script>

       

      <script>
          function calculateTotal() {
            var price = document.getElementById("price").value;
            var quantity = document.getElementById("quantity").value;
            var total = price * quantity;
            var subtotal=price * quantity;
            document.getElementById("total").value = total;
            document.getElementById("subtotal").value = subtotal;
            document.getElementById("subtotal2").value = subtotal2;
          }
          
          document.getElementById("price").addEventListener("input", calculateTotal);
          document.getElementById("quantity").addEventListener("input", calculateTotal);
        </script>




</body>
  </html>